TREEHOLE_BASE_URL=https://treehole.pku.edu.cn
TREEHOLE_SEARCH_API=/chapi/api/v3/hole/list_comments
TREEHOLE_AUTHORIZATION=Bearer xxxxxxxxx
TREEHOLE_COOKIE=your_cookie_here
TREEHOLE_X_XSRF_TOKEN=your_xsrf_token_here
TREEHOLE_UUID=your_uuid_here
TREEHOLE_TIMEOUT=15

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=12345678
MYSQL_DB=treehole_push

SERVERCHAN_SENDKEY=你的SendKey

RUNNER_INTERVAL_SECONDS=600
RECENT_DAYS=7
SEARCH_PAGE=1
SEARCH_LIMIT=20
SEARCH_COMMENT_LIMIT=10